<div class="col-md-6 user-container">
    <h2 class="text-center">Add Person</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
        </div>

        <div class="form-group">
            <label for="favColour">Favourite Colour:</label>
            <input type="text" formControlName="favColour" placeholder="favColour" name="favColour" class="form-control" id="favColour">
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age">
        </div>

        <div class="form-group">
            <label for="hobbies">Hobbies:</label>
            <select class="custom-select" multiple formControlName="hobbies">
                <option value="Football" selected>Football</option>
                <option value="Cricket">Cricket</option>
                <option value="Shopping">Shopping</option>
                <option value="Chess">Chess</option>
            </select>
        </div>

        <button class="btn btn-success">Add</button>
    </form>
</div>